@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}
/* Colors and styling */
:root {
    --primary-color: hsl(199, 100%, 30%);
    --SecondaryColor: hsl(187, 90%, 46%);
    --btnColor: hsl(199, 31%, 57%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 0%); 
    --textColor: hsl(0, 0%, 0%); 
    --whiteColorDeam: hsl(0, 0%, 85%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(0, 0%, 90%);
    --bodyColor: rgb(151, 151, 151);
    --cardBG: rgb(221, 221, 221);
    --cardHover: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.section {
    padding: 4rem 0 2rem;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon {
    font-size: 2rem;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.btn {
    padding: .6rem 1.5rem;
    background: var(--primary-color);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn a {
    color: var(--whiteColor);
    font-weight: 500;
}

.btn:hover {
    background: var(--SecondaryColor);
}

img, video {
    width: 100%;
    height: auto;
}

input {
    font-size: 100%;
}

body {
    background: var(--bodyColor);
}

/* MEDIA */
@media screen and (min-width: 1249px) {
    .container {
        width: 80% !important;
        margin: auto !important;
    }
}

@media screen and (min-width: 2560px) {
    body {
        zoom: 1.7;
    }
}